/** CSS con BEM **/

/** SMACSS **/
/* modulos: botones */

.button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: #3498db;
  color: #fff;
}

.button--secondary {
  background-color: #2ecc71;
  color: #fff;
}

.button__text {
  font-weight: bold;
}

/** State: Hover **/
.button:hover {
  background-color: #2980b9;
}

.dark-theme .button:hover {
  background-color: #c83717;
}

/** Theme : dark */
.dark-theme .button {
  background-color: #000;
  color: #fff;
}
